name: transaction_testing
services:
  transaction_testing:
    build:
      context: .
    container_name: transaction_testing
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    environment:
      - PRIVATE_KEY=${PRIVATE_KEY}
      - MODE=${MODE}
      - CHIADO_URL=${CHIADO_URL}
      - CHIADO_SEND_INTERVAL=${CHIADO_SEND_INTERVAL}
      - GNOSIS_URL=${GNOSIS_URL}
      - GNOSIS_SEND_INTERVAL=${GNOSIS_SEND_INTERVAL}
      - NODE_URL=${NODE_URL}
      - WAIT_TX_TIMEOUT=${WAIT_TX_TIMEOUT}
      - TEST_DURATION=${TEST_DURATION}

    command: ./main
