name: transaction_testing
services:
  transaction_testing:
    build:
      context: .
    container_name: transaction_testing
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    environment:
      PRIVATE_KEY:
      MODE:
      CHIADO_URL:
      CHIADO_SEND_INTERVAL:
      GNOSIS_URL:
      GNOSIS_SEND_INTERVAL:
      NODE_URL:
      WAIT_TX_TIMEOUT:
      TEST_DURATION:
      SHUTTER_API:
      SHUTTER_REGISTRY_CALLER_ADDRESS:
      API_REQUEST_INTERVAL:
      DEC_KEY_WAIT_INTERVAL:
      DECRYPTION_BLAME_FOLDER:
    # command: ./main
