name: transaction_testing
services:
  transaction_testing:
    build:
      context: .
    container_name: transaction_testing
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    environment:
      - PRIVATE_KEY=${PRIVATE_KEY}
      - MODE=${MODE}
      - CHIADO_URL=${CHIADO_URL}
      - CHIADO_SEND_INTERVAL=${CHIADO_SEND_INTERVAL}
      - GNOSIS_URL=${GNOSIS_URL}
      - GNOSIS_SEND_INTERVAL=${GNOSIS_SEND_INTERVAL}
      - NODE_URL=${NODE_URL}
      - WAIT_TX_TIMEOUT=${WAIT_TX_TIMEOUT}
      - TEST_DURATION=${TEST_DURATION}

    command: ./main

  continuous:
    build:
      context: .
    image: continuous-testing
    container_name: continuous-test
    restart: unless-stopped
    env_file:
      - ${ENV_FILE:-.env}
    volumes:
      - ${BLAME_DIR:-./data/blame}:/blame
      - ./data/config:/config
    networks:
      - external-net
    command: continuous

  continuous-graffiti:
    build:
      context: .
    image: continuous-testing
    container_name: continuous-graffiti-test
    restart: unless-stopped
    env_file:
      - ${ENV_FILE:-.mainnet-graffiti.env}
    volumes:
      - ${BLAME_DIR:-./data/graffiti-mainnet-blame}:/blame
      - ./data/config:/config
    networks:
      - external-net
    command: continuous-graffiti

networks:
  external-net:
    external: true
    name: ${DOCKER_NETWORK:-keyper-metrics_default}
