version: '3.8'
name: transaction_testing
services:
  transaction_testing:
    build:
      context: .
      shm_size: '2g'
    container_name: transaction_testing
    restart: always
    environment:
      - PRIVATE_KEY=${PRIVATE_KEY}
      - MODE=${MODE}
      - CHIADO_SEND_INTERVAL=${CHIADO_SEND_INTERVAL}
      - GNOSIS_SEND_INTERVAL=${GNOSIS_SEND_INTERVAL}
    command: ./main